@using Ecommerce_Application.Repositories
@inject ICategoryCRUDRepository _categoryService;
@using System.Security.Claims;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="/style.css"> -->
    <title> E-COMMERCE WEBSITE BY DEV | CREATED BY DEV JAIN </title>

    <!-- favicon -->
    <link rel="icon" href="https://yt3.ggpht.com/a/AGF-l78km1YyNXmF0r3-0CycCA0HLA_i6zYn_8NZEg=s900-c-k-c0xffffffff-no-rj-mo" type="image/gif" sizes="16x16">
    <!-- header links -->
    <script src="https://kit.fontawesome.com/4a3b1f73a2.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <!-- slider links -->
    @* @ <script src="js/jQuery3.4.1.js"></script> @ *@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/header.css">
    <script src="https://kit.fontawesome.com/4a3b1f73a2.js"></script>
    <link rel="stylesheet" href="~/css/Profile_Dropdown.css">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/footer.css">
    <link rel="stylesheet" href="~/css/Login.css">
    <link rel="stylesheet" href="~/css/index.css">
    <link rel="stylesheet" href="~/css/ContentDetails.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">

</head>
<body>
    <header>
        @if (IsSectionDefined("Blank2"))
        {
            @RenderSection("Blank2")
        }
        else
        {
            <section>
                <!-- MAIN CONTAINER -->
                <div id="container">
                    <!-- SHOP NAME -->
                    <div id="shopName"><a href="/Home/Index"> <b>SHOP</b>LANE </a></div>
                    <!-- COLLCETIONS ON WEBSITE -->
                    <div id="collection">
                        <ul>
                            @{
                                var categories = await _categoryService.GetAll();
                                foreach (var category in categories)
                                {
                                    <li>
                                        @if (category.ParentId == 0)
                                        {
                                           
                                            //<a href="/Category/ProductsByCategory/?CategoryId=@category.CategoryId">@category.Name</a>
                                            <a href="/Category/@category.Name.Replace(' ', '-')/@category.CategoryId">@category.Name</a>
                                            <ul>
                                                @foreach (var subCategory in categories.Where(x => x.ParentId == category.CategoryId).ToList())
                                                {
                                                   
                                                    // <li><a href="/Category/ProductsByCategory/?CategoryId=@subCategory.CategoryId">@subCategory.Name</a></li>
                                                    <li><a href="/Category/@subCategory.Name.Replace(' ', '-')/@subCategory.CategoryId">@subCategory.Name</a></li>
                                                }
                                            </ul>
                                        }
                                    </li>
                                }
                            }
                        </ul>

                    </div>
                    <!-- SEARCH SECTION -->
                    <div id="search">
                        <i class="fas fa-search search"></i>
                        <input type="text" id="input" name="searchBox" placeholder="Search for Clothing and Accessories">
                    </div>
                    <!-- USER SECTION (CART AND USER ICON) -->
                    <div id="user">
                        <a href="cart.html"> <i class="fas fa-shopping-cart addedToCart"><div id="badge"> 0 </div></i></a>

                        <div class="profile-dropdown">

                            <div onclick="toggle()" class="fas fa-user-circle userIcon">
                            </div>
                            @{
                                var IsUserAuthenticated = User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role)?.Value == "User";
                                @if (IsUserAuthenticated)
                                {   
                                    <ul style="padding-left:0rem;" class="profile-dropdown-list">

                                        <li class="profile-dropdown-list-item">
                                            <a href="/Home/Index">
                                                <i class="fa-regular fa-user"></i>
                                                Your Profile
                                            </a>
                                        </li>
                                        <li class="profile-dropdown-list-item">
                                            <a href="/Account/Logout">
                                                <i class="fa-solid fa-arrow-up-from-bracket"></i>
                                                Log out
                                            </a>
                                        </li>
                                    </ul>
                                }
                                else
                                {

                                    <ul style="padding-left:0rem;" class="profile-dropdown-list">



                                        <li class="profile-dropdown-list-item">
                                            <a href="/Account/Login">
                                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                                Login
                                            </a>
                                        </li>


                                        <li class="profile-dropdown-list-item">
                                            <a href="/Account/Register">
                                                <i class="fa-solid fa-arrow-up-from-bracket"></i>
                                                Register
                                            </a>
                                        </li>
                                    </ul>
                                }
                            }

                        </div>
                    </div>
                </div>

            </section>
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        @if (IsSectionDefined("Blank"))
        {
            @RenderSection("Blank")
        }
        else
        {
            <section>
                <div id="containerFooter">

                    <div id="webFooter">
                        <h3> online store </h3>
                        <p> men clothing </p>
                        <p> women clothing </p>
                        <p> men accessories </p>
                        <p> women accessories </p>
                    </div>
                    <div id="webFooter">
                        <h3> helpful link </h3>
                        <p> home </p>
                        <p> about </p>
                        <p> contact </p>
                    </div>
                    <div id="webFooter">
                        <h3> partners </h3>
                        <p> zara </p>
                        <p> pantaloons </p>
                        <p> levis </p>
                        <p> ucb </p>
                        <p> + many more </p>
                    </div>
                    <div id="webFooter">
                        <h3> address </h3>
                        <p> building 101 </p>
                        <p> central avenue </p>
                        <p> la - 902722 </p>
                        <p> united states </p>
                    </div>
                </div>
                <div id="credit"><a href="https://linkedin.com/in/Devjainofficial"> © Dev Jain </a> &nbsp&nbsp&nbsp | &nbsp&nbsp&nbsp <a href="https://www.edyoda.com/" target="_blank"> DEV </a></div>
            </section>
        }


    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="/js/Profile_Dropdown.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("Images", required: false)

</body>
</html>
