@using Ecommerce_Application.Repositories;
@using Ecommerce_Application.Repositories;
@inject ICategoryRepository _categoryService;
@inject ICategoryCRUDRepository _categorycrudService;

@{
    string categoryName = ViewBag.CategoryName;
    int categoryId = ViewBag.CategoryId;
}
@if (categoryId == 1 || categoryId == 2 || categoryId == 7)
{

    <section>
        @{
            var BannerImage = _categoryService.BannerImage(categoryName);
        }
        <div id="containerSlider">
            @foreach (Banner file in BannerImage)
            {
                <div id="slidingImage"> <img src="/img/@categoryName/@file.FileName" alt="image1" loading="eager"> </div>
            }
        </div>
        @*    @if (categoryId == 1 || categoryId == 2 || categoryId == 7)
    {
    <div id="containerSlider">
    <div id="slidingImage"> <img src="~/img/@categoryName/img(1).jpg" alt="image1" loading="eager"> </div>
    <div id="slidingImage"> <img src="~/img/@categoryName/img(2).jpg" alt="image2" loading="eager"> </div>
    <div id="slidingImage"> <img src="~/img/@categoryName/img(3).jpg" alt="image3" loading="eager"> </div>
    <div id="slidingImage"> <img src="~/img/@categoryName/img(4).jpg" alt="image4" loading="eager"> </div>
    </div>
    }
    *@
    </section>
}
else
{
    <h1></h1>
}
<div id="mainContainer">

    @{

        var AllCategories = await _categoryService.GetAllCategoriesAsync(categoryId);

        @foreach (var category in AllCategories)
        {
            @if (category.ParentId == categoryId)
            {
                <h1> @category.Name </h1>
                var SubCategories = await _categoryService.GetCategoriesDetailByIdAsync(category.CategoryId);
                @if (SubCategories.Count == 0)
                {
                    <div id="containerClothing">
                        @{
                            var Products = await _categoryService.GetAllProductsByCategoriesAsync(category.CategoryId);

                            @foreach (var product in Products)
                            {
                                <div id="box">
                                    <a href="/Product/@product.ProductName.Replace(" ", "-")/@product.ProductId">

                                        <img src="@product.ThumbImage" />
                                        <div id="details">
                                            <h3>@product.ProductName</h3>
                                            <h4>@product.BrandName</h4>
                                            <h2><sup>₹</sup>@product.SellingPrice</h2>
                                            <del><h3>MRP @product.Price</h3></del>
                                        </div>
                                    </a>
                                </div>
                            }
                        }
                    </div>
                }
                else
                {
                    @foreach (var subcategory in SubCategories)
                    {
                        @if (subcategory.ParentId == category.CategoryId)
                        {
                            <h1> @subcategory.Name </h1>
                            <div id="containerClothing">
                                @{
                                    var Products = await _categoryService.GetAllProductsByCategoriesAsync(subcategory.CategoryId);

                                    @foreach (var product in Products)
                                    {
                                        <div id="box">
                                            <a href="/Product/@product.ProductName.Replace(" ", "-")/@product.ProductId">

                                                <img src="@product.ThumbImage" />
                                                <div id="details">
                                                    <h3>@product.ProductName</h3>
                                                    <h4>@product.BrandName</h4>
                                                    <h2><sup>₹</sup>@product.SellingPrice</h2>
                                                    <del><h3>MRP @product.Price</h3></del>
                                                </div>
                                            </a>
                                        </div>
                                    }
                                }
                            </div>
                        }
                    }
                }

            }
        }

    }

</div>
@section Scripts {
    <script src="~/js/index.js"></script>
}
