@model Ecommerce_Application.Models.ProductDetails
@using Ecommerce_Application.Repositories
@inject IProductImageRepository _productImageService;

<div id="containerD">
    <div id="imageSection">
        <img id="imgDetails" src=@Model.ThumbImage>
    </div>
    <div id="productDetails">
        <h1>@Model.ProductName</h1>

        <div id="details">
            <h3 id="ProductName">@Model.ProductName</h3>
            <h4>@Model.BrandName</h4>
            <sup>₹</sup><h2 id="ProductPrice">@Model.SellingPrice</h2>
            <del><h4>MRP @Model.Price</h4></del>
        </div>
        <div id="productPreview">
            <h3>Product Preview</h3>
            @{
                var AllImage = await _productImageService.GetAllImagesById(Model.ProductId);

                foreach (var images in AllImage)
                {
                        <img class="previewImg" id="previewImg" src="@images.ImagePath">
                }
            }
        </div>


        <div id="button"><button class="addProduct">Add To Cart</button></div>


    </div>
</div>


@section Images {
    <script>

        $(document).ready(function () {
            $(".previewImg").click(function () {
                var changeSrc = $(this).attr("src")
                $("#imgDetails").attr("src", changeSrc);
                $('.selected').removeClass('selected');
                $(this).addClass('selected');

            });


            $(button).click(function (e) {
                e.preventDefault();
                debugger
                var ProductId = @Model.ProductId;

                AfterClick(ProductId);

            });
            function AfterClick(ProductId) {

            debugger
                $.ajax({
                    url: '@Url.Action("AddCart", "Cart")',
                    method: 'POST',
                    data: { Id: ProductId },
                    dataType: 'json',
                    success: function (status) {
                        debugger
                        toastr.success("Your Item Successfully added to Cart.", "Congrats!!", { "progressBar": true, "positionClass": "toast-bottom-right" });
                            console.log('Submission was successful.');
                           // window.location.href = '@Url.Action("CartIndex", "Cart")';
                    },
                    error: function (error) {
                        debugger
                        console.log('An error occurred.');
                        toastr.error("There is Some Problem to add this Product. Please Try Again Later.", "Sorry!", { "progressBar": true, "positionClass": "toast-bottom-right" })
                        
                        console.log(error);
                    }
                });
            }

        });

    </script>
}
