@using Ecommerce_Application.Repositories
@inject ICartRepository _cartService;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@using System.Security.Claims;

<div id="cartMainContainer">
    <h1 style="display:flex; justify-content: space-evenly">
        Checkout
    </h1>
    @{
        var CountCart = 0;
        var UserId = "";
        var IsUser = User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role)?.Value == "User";
        @if (IsUser)
        {
            UserId = HttpContextAccessor?.HttpContext?.Session.GetString("UserId");
            var detail = await _cartService.GetAllDetails(UserId);
            CountCart = detail.Count;

        }

    var details = await _cartService.GetAllDetails(UserId);
    }
    <h3 id="totalItem">Total Items: @CountCart</h3>
    <div id="cartContainer">
        @{
            var TotalAmount = 0; 
        }

        <div id="boxCartContainer">
            @foreach (var item in details)
            {
                <div id="cartBox">
                    @if (item is CartDetail cart)
                    {
                        <a href="/Product/@cart.ProductDetails.ProductName.Replace(" ", "-")/@cart.ProductDetails.ProductId">
                            <img id="cartImage" src="@cart.ProductDetails.ThumbImage">
                        </a>
                        <h3>@cart.ProductDetails.ProductName × @cart.Quantity</h3>
                        <h4>Total Amount: Rs. @(cart.Quantity * cart.ProductDetails.SellingPrice)</h4>
                        TotalAmount += cart.Quantity * cart.ProductDetails.SellingPrice;
                    }
                </div>
            }
        </div>


        <div id="totalCartContainer">
            <div id="total">
                <h2>Total Amount</h2>
                <h4>Amount: Rs. @TotalAmount</h4>
                <div id="button"><button><a href="/orderPlaced.html?">Place Order</a></button></div>
            </div>
        </div>

    </div>
</div>
