@using Ecommerce_Application.Repositories
@inject ICartRepository _cartService;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@using System.Security.Claims;



@{
    var CountCart = 0;
    var UserId = "";
    List<CartDetail> cartDetails = new List<CartDetail>();
    var IsUser = User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role)?.Value == "User";
    @if (IsUser)
    {
        UserId = HttpContextAccessor?.HttpContext?.Session.GetString("UserId");
    }
    @if (UserId == "")
    {
        <div id="cartMainContainer">
            <div id="cartContainer">
                <div id="boxCartContainer">
                </div>
            </div>
        </div>
    }
    else
    {
        cartDetails = await _cartService.GetAllDetails(UserId);
        CountCart = cartDetails.Count;
        @if (CountCart == 0)
        {
            <div id="cartMainContainer">
            <div style="display:flex; padding: 5% 0 5% 0; justify-content:center; flex-direction: column; align-items: center; flex-wrap: nowrap;">

                <div style=" padding-top: 10%; color:white; font-size: 2rem;">Sorry, You haven't Added Any items yet.</div>
                <img src="~/cart.png" style="height: 30%; width: 30%;" />
                <a href="/Home/index">
                    <button>Add Some Items</button>
                </a>
            </div>
            </div>
        }
        else
        {

            <div id="cartMainContainer">
                <h1 style="display:flex; justify-content: space-evenly">
                    Checkout
                </h1>

                @{
                    var TotalCount = 0;
                }
                <div id="cartContainer">
                    @{
                        var TotalAmount = 0;
                    }

                    <div id="boxCartContainer">
                        @foreach (var item in cartDetails)
                        {
                            <div id="cartBox">
                                @if (item is CartDetail cart)
                                {
                                    <a href="/Product/@cart.ProductDetails.ProductName.Replace(" ", "-")/@cart.ProductDetails.ProductId">
                                        <img id="cartImage" src="@cart.ProductDetails.ThumbImage">
                                    </a>

                                    <h3>@cart.ProductDetails.ProductName × @cart.Quantity</h3>
                                    <h4>Product Price: ₹@(cart.ProductDetails.SellingPrice)</h4>
                                    <h4>Total Amount: Rs. @(cart.Quantity * cart.ProductDetails.SellingPrice)</h4>

                                    <div id="unary">
                                        <button data-id="@cart.ProductDetails.ProductId" data-operation="minus" class="unaryButton" id="minus">-</button>
                                        <div id="count"> @cart.Quantity </div>
                                        <button data-id="@cart.ProductDetails.ProductId" data-operation="plus" class="unaryButton" id="plus">+</button>
                                    </div>
                                    TotalAmount += cart.Quantity * cart.ProductDetails.SellingPrice;
                                    TotalCount += cart.Quantity;
                                }
                            </div>
                        }
                    </div>

                    <div id="totalCartContainer">
                        <h3 id="totalItem">Total Items: @TotalCount</h3>
                        <div id="total">
                            <div style="font-size: 1.5rem; color: white;">Grand Total:</div>
                            <h4>Rs. @TotalAmount</h4>
                            <a href="/StripeSettings/PlaceOrder/?Amount=@TotalAmount"><div id="button"><button>Place Order</button></div></a>
                        </div>
                    </div>

                </div>
            </div>
        }
    }
}


@section Scripts {
    <script>
        $(document).ready(function () {
            $(".unaryButton").click(function (e) {
                e.preventDefault();
                var ProductId = $(this).data("id");
                var operation = $(this).data("operation");
                AfterClick(ProductId, operation);
            });
            function AfterClick(ProductId, operation) {
                debugger
                $.ajax({
                    url: '@Url.Action("unaryOperation", "Cart")',
                    method: 'POST',
                    data: { id: ProductId, operation: operation },
                    dataType: 'html',
                    success: function (response) {
                        console.log('Submission was successful.');
                        $('#cartMainContainer').html(response);
                        $('#badge').replaceWith($(response).find('#badge'));
                        $('#cartMainContainer').replaceWith($(response).find('#cartMainContainer'));
                    },
                    error: function (error) {
                        console.log('An error occurred.');
                        console.log(error);
                    }
                });
            }
        });
    </script>
}

@if (!IsUser)
{
    @section LocalData {
    <script type="text/javascript">
        $(document).ready(function () {
            var localCart = JSON.parse(localStorage.getItem("cart"));

            if (localCart == null || localCart.length === 0) {
                $("#emptyCartTemplate").tmpl({}).prependTo("#cartMainContainer");
            }
            else {
                var TotalCount = 0;
                var TotalAmount = 0;
                $("#cartTopTemplate").tmpl({}).prependTo("#cartMainContainer");

                $.each(localCart, function (index, item) {
                    var productDetails = item.productDetails;
                    var quantity = item.quantity; // Access quantity directly from 'item'

                    $("#cartTemplate").tmpl({ productDetails: productDetails, quantity: quantity }).appendTo("#boxCartContainer");

                    TotalAmount += quantity * productDetails.sellingPrice;
                    TotalCount += quantity;

                });

                $('.unaryButton').on('click', function () {
                    var $button = $(this);
                    var index = $button.closest('#cartBox').index();

                    if ($button.attr('id') === 'minus') {
                        localCart[index].quantity--;
                        if (localCart[index].quantity < 1) {
                            localCart.pop(localCart[index]);
                            location.reload();
                        }
                    } else if ($button.attr('id') === 'plus') {
                        localCart[index].quantity++;
                    }

                    if (localCart[index]) {

                        $button.closest('#unary').find('#count').text(localCart[index].quantity);
                        $button.closest('#cartBox').find('#quantity').text(localCart[index].quantity);
                    }

                    localStorage.setItem("cart", JSON.stringify(localCart));

                    TotalAmount = 0;
                    TotalCount = 0;
                    $.each(localCart, function (index, item) {
                        TotalAmount += item.quantity * item.productDetails.sellingPrice;
                        TotalCount += item.quantity;
                    });

                    $("#totalItem").text("Total Items: " + TotalCount);
                    $("#totalAmount").text("Rs. " + TotalAmount);
                });

                $("#cartTotalTemplate").tmpl({ TotalAmount: TotalAmount, TotalCount: TotalCount }).appendTo("#cartContainer");

                $("#totalItem").text("Total Items: " + TotalCount);
                $("#totalAmount").text("Rs. " + TotalAmount);
            }
        });
    </script>

    <script id="cartTopTemplate" type="text/x-jquery-tmpl">
        <h1 style="display:flex; justify-content: space-evenly">
                Checkout
            </h1>
    </script>
    <script id="cartTemplate" type="text/x-jquery-tmpl">
        <div id="cartBox">
            <a href="/Product/${productDetails.productName.replaceAll(" ", "-")}/${productDetails.productId}">
                <img id="cartImage" src="${productDetails.thumbImage}">
            </a>
            <h3>${productDetails.productName} × <span id="quantity">${quantity}</span></h3>


            <h4>Product Price: ₹${(productDetails.sellingPrice)}</h4>

            <div id="unary">
               <button data-id="${(productDetails.productId)}" data-operation="minus" class="unaryButton" id="minus">-</button>
               <div id="count"> ${(quantity)} </div>
               <button data-id="${(productDetails.productId)}" data-operation="plus" class="unaryButton" id="plus">+</button>
            </div>

        </div>
    </script>

    <script id="cartTotalTemplate" type="text/x-jquery-tmpl">

        <div id="totalCartContainer">
            <h3 id="totalItem"></h3>
            <div id="total">
                <div style="font-size: 1.5rem; color: white;">Grand Total:</div>
                <h4 id="totalAmount"></h4>
                <a href="/Account/Login">
                    <div id="button"><button>Place Order</button></div>
                </a>
            </div>
        </div>
    </script>
    <script id="emptyCartTemplate" type="text/x-jquery-tmpl">
         <div style="display:flex; justify-content:center; flex-direction: column; align-items: center; flex-wrap: nowrap;">

            <div style="padding-top: 10%; color:white; font-size: 2rem;"> Sorry, You haven't Added Any items yet.</div>
                <img src = "/cart.png" style = "height: 30%; width: 30%;"/>
                    <a href="/Home/index">
                        <button>Add Some Items </button>
                    </a>
            </div>
        </div>
    </script>
    }

}


